########################
# Import bazelrc presets
import %workspace%/../../tools/preset.bazelrc

# Toolchain config for building the Rust js parser and linking it via cgo.
import %workspace%/../../tools/rust.bazelrc
